Streamlit==1.37.1
Pandas==2.2.3
NumPy==1.26.4
Matplotlib==3.9.2
Seaborn==0.13.2
Plotly==5.24.1
Statsmodels==0.14.2
SciPy==1.13.1
Scikit-learn==1.5.1
Imbalanced-learn==0.12.3
XGBoost==2.1.4
Tabulate==0.9.0